*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 24px;
  scroll-behavior: smooth;
}
section {
  width: 100%;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
}
#home {
  background: url("../images/Island-resort-Maldives-Indian-Ocean.jpg") no-repeat center center /cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 50px;
}
#hotels{
  display: flex;
  flex-direction: column;
  background: url("../images/bg_hotel.jpg") no-repeat center center /cover;
}
#contact {
  background: rgba(239, 241, 238, 0.9)
}
#footer {
  background-color: crimson;
}

/* menu style */
nav {
  position: sticky;
  top: 0;
  background-color: white;
}
nav .container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}
nav .container ul {
  list-style: none;
}
nav .container ul li {
  display: inline-block;

}
nav .container ul li a{
  display: inline-block;
  padding: 10px 20px;
  color: black;
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
}


nav .container ul li.active {
 background-color: crimson;
 transition: 0.3 ease background-color;
}
nav .container ul li.active a {
  color: white;
}

/* home section style */

#home h1 {
  font-size: 69px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 700;
  color: rgb(214, 46, 23);
  margin-bottom: 50px;
}
.home-wrapper {
  width: 90%;
  display: flex;
  margin: 100px 0;
  justify-content: space-between;
  background-color: rgb(55, 155, 155);  
}

.home-wrapper-item-1 {
  width: 45%;
  height: 75vh;
}
.home-wrapper-item-1  p {
  padding: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
  font-size: 24px;
  text-align: justify;
  color: rgb(247, 246, 244);
}
.home-wrapper-item-2 {
  width: 55%;
}
.home-wrapper-item-2 img {
  width: 100%;
  height: 75vh;
}

/* hotels style */

.hotels-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 100px 0;
 
}
#hotels h2 {
  margin: 50px 0 0 0;
  color: white;
  font-size: 69px;
}
.hotels-wrapper  img {
  width: 350px;
  height: 380px;
}
.hotels-wrapper > div  {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 370px;
  padding: 10px;
  margin: 10px;
  border: 1px solid rgb(211, 204, 204);
  background-color: rgba(240, 240, 240, .7);
  border-radius: 10px;
}
.hotels-wrapper > div >p {
  margin: 10px 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  font-size: 25px;
  color: rgb(6, 0, 15);
}

/* contact link style */

.contact-wrapper {
  display: flex;
  width: 90%;
  margin: 50px 0;
  
}

.contact-item-1 img {
  width: 100%;
  height: 90vh;
}
.contact-item-2 {
  padding: 0 20px;
}
.contact-item-2 p {
  color: rgb(24, 24, 24);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
  padding: 50px 50px 0 0;
}
.contact-item-2 button {
  width: 250px;
  padding: 10px 15px;
  margin: 30px 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  background-color: rgb(214, 46, 23);
  color: rgb(247, 246, 244);

}

/* footer */

.footer-wrapper {
  width: 90%;
  display: flex;
  justify-content: space-between;
  height: 90vh;
  padding-top: 100px;
}

.footer-item-1 input[type=text] {
  width: 250px;
  height: 35px;
  font-size: 16px;
}
.footer-item-1 button{
  height: 35px;
  padding: 0 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-transform: capitalize;
  color: sienna;
}

.footer-item-2 ul {
  list-style: none;
}
.footer-item-2 ul li {
  margin: 5px 0;
}
.footer-item-2 ul li a {
  text-decoration: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
}
.footer-item-3 i.fas {
  margin-right: 5px;
}
.footer-item-3 ul {
  list-style: none;
}
.footer-item-3 ul li {
  margin: 5px 0;
}
.footer-item-3 ul li a {
  text-decoration: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
}


